.projectCard {
    overflow: hidden;
    position: relative;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}


.projectCard:hover .projectCard-content {
    top: 0;
    left: 0;
}


.projectCard-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(242, 162, 242, 0.8) 0%, rgba(117, 9, 122, 0.8) 100%);
    position: absolute;
    top: -100%;
    left: 0;
    transition: 300ms all linear;
    -webkit-transition: 300ms all linear;
    -moz-transition: 300ms all linear;
    -ms-transition: 300ms all linear;
    -o-transition: 300ms all linear;
    z-index: 5;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}